.audit-controls {
  // TODO: Remove this once https://gitlab.com/gitlab-org/gitlab-ui/-/issues/681 is resolved
  .gl-datepicker-theme.pika-single {
    position: absolute !important;
  }

  .dropdown-menu-toggle {
    // New GitLab UI inputs are 32px high, while the older inputs are 34px
    // This can be removed once the audit log fields are converted to use GitLab UI's dropdown instead
    padding-bottom: 5px;
    padding-top: 5px;

    .fa-chevron-down,
    .fa-spinner {
      top: 10px;
    }
  }

  @include media-breakpoint-down(md) {
    .dropdown-menu-toggle,
    .filter-item {
      width: 100%;
    }
  }
}
